#profileDisplay { display: block; height: 180px; width: 20%; margin: 0px auto; border-radius: 50%; }
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a{
  float: right;
  display: block;
  color: #eae8e8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.img-placeholder {
  width: 20%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 180px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}