body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
.rider_info{
  height: 50px;
  background: #0C7018;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}


